.oculto {
    display: none; 
}

fieldset {
    border-width: 2px; /* Ancho del borde */
    max-width: 700px;
    border-style: solid; /* Estilo del borde (puede ser solid, dashed, dotted, etc.) */
    border-color: #000000; /* Color del borde */
    padding: 10px; /* Espaciado interno */
}

legend {
    font-weight: bold;
    color: #000000;
}